/* ==========================================================================
   Responsive
========================================================================== */
/**
 * Prevents the container from ever exceeding 75em / 1200px
**/
@media all and (min-width: 75em) {
	.container {
		max-width: 75em;
	}
}

@media all and (max-width: 48em) {
	* {
		float: none !important;
	}
	body {
		font-size: 80%;
	}

	/* -- Container -- */
	.container {
		max-width: 90%;
	}

	/* -- Exclusions -- */
	$exlusions: (
	);
	@each $element in $exlusions {
		#{$element} {
			display: none;
		}
	}

	/* -- Full Width -- */
	$fullwidth: (
	);
	@each $element in $fullwidth {
		#{$element} {
			width: 100%;
		}
	}

	/* -- Reset -- */
	$reset: (
	);
	@each $element in $reset {
		#{$element} {
			margin: 0;
			padding: 0;
		}
	}

	/* -- Grid -- */
	.grid [class*="col-"] {
		width: 100%;
		padding: 0;
	}

	/* -- Forms -- */
	form {
		.left {
			float: left !important;
		}
		.right {
			float: right !important;
		}
		input, .input, select, textarea, .field-container, button, .button {
			padding: 0.5em;
			font-size: 1em;
		}
		button {
			width: 100%;
			margin: 0.5em 0;
			text-align: center;
		}
	}
}

@media all and (max-width: 22.5em) {
	body {
		font-size: 75%;
	}
}
