// Respond to tablet
@include respond-to($tablet){
	body {
		font-size: 90%;
	}

	/* -- Exclusions -- */
	$exlusions: (
	);
	@each $element in $exlusions {
		#{$element} {
			display: none;
		}
	}

	/* -- Full Width -- */
	$fullwidth: (
	);
	@each $element in $fullwidth {
		#{$element} {
			width: 100%;
		}
	}

	/* -- Reset -- */
	$reset: (
	);
	@each $element in $reset {
		#{$element} {
			margin: 0;
			padding: 0;
		}
	}

	/* -- Grid -- */
	.grid.rr {
		width: 100%;
		left: 0;
		> [class*="col-"] {
			width: 100%;
			margin: 0 0 $nudge 0;
			&.right, &.left {
				text-align: center;
			}
		}
	}

	/* -- Forms -- */
	form {
		input, .input, select, textarea, .field-container, button, .button {
			padding: 0.5em;
		}
		button {
			width: 100%;
			margin: 0.5em 0;
		}
	}
}

// Respond to mobile
@include respond-to($mobile){
	body {
		font-size: 75%;
	}
}