/* ==========================================================================
   Text
   The framework default text styles.
========================================================================== */
/* -- Global -- */
html {
    min-height:100%;
    overflow-y:scroll;
    font:#{$base_font_size}/#{$line_height_ratio} $base_font_family;
	color: $darkgrey;
	word-wrap: break-word;
}

/* -- Links, Buttons & Hover Styles -- */
a, button {
	color: $base_link_colour;
	text-decoration: none;
	@include transition(color 500ms ease);
	&:hover {
		color: $base_link_colour_opp;
	}
	&:active {
		color: darken($base_link_colour_opp, 10%);
	}
}

/* -- Paragraph Formatting -- */
p, .column-layout {
	margin: 0 0 $nudge 0;
}

/* -- Heading Formatting -- */
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
h1 {
	@include rem(font-size, $font_size_h1);
}
h2 {
	@include rem(font-size, $font_size_h2);
}
h3 {
	@include rem(font-size, $font_size_h3);
}
h4 {
	@include rem(font-size, $font_size_h4);
}
h5 {
	@include rem(font-size, $font_size_h5);
}
h6 {
	@include rem(font-size, $font_size_h6);
}

/* -- Quotes -- */
blockquote {
	padding: 0 10px;
	position: relative;
	display: inline;
	font-family: $font_family_serif;
	font-style: italic;
}
blockquote:before, q:before, blockquote:after, q:after {
	position: absolute;
}
blockquote:before, q:before {
	content: "\201c";
	left: 0;
}
blockquote:after, q:after {
	content: "\201d";
	right: 0;
}
