# DIRECTORIES
# Anything directory a user can modify the contents of on the server side
# should be ignored to prevent any overwriting issues.
# ---------------------------------------------------------------------------------
assets/ export-ignore
backups/ export-ignore
bower_components/ export-ignore
deploy/ export-ignore
gulp/ export-ignore
.help/ export-ignore
node_modules/ export-ignore
releases/app_* export-ignore
.sass-cache/ export-ignore
scss/ export-ignore
.vagrant/ export-ignore


# FILES
# If a public repo any files with sensitive data like database connection
# details should be ignored to prevent unauthorised access.
# ---------------------------------------------------------------------------------
**/*.gitignore export-ignore
**/*.gitkeep export-ignore
**/*.htaccess export-ignore
**/*.log export-ignore
**/*.md export-ignore
**/*.psd export-ignore
**/*.scss export-ignore
**/*.sql export-ignore
**/*.txt export-ignore
bower.json export-ignore
Gruntfile.js export-ignore
Gulpfile.js export-ignore
package.json export-ignore
README.* export-ignore
readme.* export-ignore
LICENSE.* export-ignore
license.* export-ignore
COPYRIGHT.* export-ignore
copyright.* export-ignore
CHANGELOG.* export-ignore
changelog.* export-ignore