# DIRECTORIES
# Anything directory a user can modify the contents of on the server side
# should be ignored to prevent any overwriting issues.
# ---------------------------------------------------------------------------------
bower_components/
node_modules/
releases/
.sass-cache/
.vagrant/
**/logs/



# FILES
# If a public repo any files with sensitive data like database connection
# details should be ignored to prevent unauthorised access.
# ---------------------------------------------------------------------------------
**/*.htaccess
**/*.log



# EXCEPTIONS
# Directories that are ignored that have a few exceptions.
# ---------------------------------------------------------------------------------
