/* ==========================================================================
   Wordpress/Assets
========================================================================== */
/* -- Cookie & JS Warning -- */
.cookie-list {
	width: 700px;
	li {
		margin-bottom: 1em;
		list-style: none;
	}
}

/* -- Form Validation & Email Suggester -- */
.val-box {
	@extend .alert.error
}
#suggestion {
	display: none;
}
#alternate_email {
	cursor: pointer;
}

/* -- Twitter Feed -- */
.tweet {
	margin: 0 0 0.5em 0;
}

/* -- Google Map -- */
#map_canvas {
	margin: 1em 0;
	img {
		max-width: none;
	}
}

/* -- Social Navigation -- */
.nav-social {
	padding: 0;
	li {
		@include inline-block;
		vertical-align: middle; /* Prevents the screen from resizing on hover */
		text-align: center;
	}
	li .link {
		width: 30px;
		height: 30px; /* Prevents the screen from resizing on hover */
		display: block;
	}
	li .link img {
		width: 90%;
		@include transition(width 250ms ease-in-out);
	}
	li .link img:hover {
		width: 100%;
	}
}
