/* ==========================================================================
   Wordpress/Forms
========================================================================== */
/* -- Error Messages --*/
.js-status-message {
	display: none;
}

/* -- Comments Form -- */
.comments {
	margin-top: $nudge;
	.comments-disabled {
		margin: $nudge 0;
		padding: 1em;

		border: 1px dashed #ddd;
		border-left: 0;
		border-right: 0;
	}
	.comment-moderation {
		margin: $nudge 0;
		font-style: italic;
	}
	#comment-form {
		.field {
			input, textarea {
				border-radius: $def_border_radius;
			}
			textarea {
				height: 100px;
				background: white;
			}
		}
	}
	.success-message {
		margin-top: $nudge * 2;
		display: none;
	}
	.comments-form {
		margin-top: $nudge;
		h3 {
			float: left;
		}
		.logged-status {
			float: right;
			@include rem(font-size, 12px);
			@include rem(line-height, 30px);
		}
		.logged-status-lower {
			margin: 0em 0 0.75em;
			display: none;
		}
	}

	/* -- Comment Replies -- */
	.avatar-image {
		width: 50px;
		margin-right: 0.5em;
		display: block;
		overflow: hidden;
		float: left;
		border-radius: $def_border_radius;
	}
	.comment-management {
		position: absolute;
		top: 0.9em; right: 1.1em;
		@include rem(font-size, 12px);
	}
	.comment-meta {
		float: left;
	}
	.comment-body {
		margin: 0.5em 0;
	}
	.avatar img {
		display: block;
	}
	.comment-unapproved.alert {
		margin: 0.2em 0 0.5em;
		font-weight: bold;
		font-style: italic;
	}
	.comment-links {
		font-size: 80%;
	}
	.comment-links + .comments-form {
		margin-top: $nudge;
	}

	/* -- Comments Container -- */
	.comments-container {
		padding: $nudge 0 0 0;
		border-top: 1px dashed #ddd;
		.comment-list {
			li {
				padding: $nudge;
				position: relative;
				border-radius: $def_border_radius;
				list-style: none;
				.children {
					margin: 0;
					li { /* Style for replied comments */
						margin-top: $nudge;
						border: 1px solid inherit;
					}
				}
			}
			.thread-even {
				background: #f4f4f4;
			}
			.thread-odd {
				background: #ededed;
			}
			.administrator { /* Style for Admin comments */
				border: 1px solid $def_color_dark;
				background: $def_color;
				.children {
					li { /* Style for replied comments */
						border: 1px solid $def_color_dark;
					}
				}
				a {
					&:hover {
						color: darken($def_color, 30%);
						text-decoration: underline;
					}
				}
			}
			.awaiting-moderation { /* Style for Awaiting Moderation comments */
				padding: 1em;
				border: 1px solid #F0C020;
				background: #ffffdd;
			}
		}
	}
}

/* -- Search -- */
.search-form {
	.search {
		width: 85%;
		height: 33px;
		border-radius: $def_border_radius 0 0 $def_border_radius;
		&:focus {
			& + button {
				border: 1px solid #AAA;
			}
		}
	}
	.search-submit {
		width: 15%;
		height: 33px;
		padding: 0;
		margin-left: -5px;
		border-radius: 0 $def_border_radius $def_border_radius 0;
		vertical-align: top;
	}
	label {
		display: none;
	}
}

/* -- 404 -- */
.error404  {
	.main .error-sub-title {
		margin: 0.2em 0 0;
	}
}

/* -- Login Widget -- */
#loginform {
	#login_error {
		display: none;
	}
	label {
		display: block;
	}
	.rememberlabel {
		display: inline;
		vertical-align: middle;
	}
	#rememberme {
		margin: 0 0.5em 0 0;
		vertical-align: middle;
	}
	.field {
		margin: 0 0 0.5em 0;
	}
	.field.group {
		padding: 0.5em 0;
	}
	button {
		float: right;
	}
}

/* -- Newsletter -- */
.newsletter {
	.field {
		margin: 0;
	}
	#sub_email {
		width: 40%;
	}
	#sub_submit {
		margin: 0 0 0 1%;
		vertical-align: top;
	}
}

/* -- Wordpress Login -- */
.login-container {
	width: 50%;
	margin: 20px auto 0;
	display: none;
	@extend %cf;
	h1, #backtoblog, #nav {
		display: none;
	}
	#loginform {
		p {
			width: 42%;
			margin: 0;
			float: left;
		}
		label {
			input {
				margin: 0;
			}
		}
		.forgetmenot {
			display: none;
		}
		.input {
			width: 96%;
		}
		.submit {
			width: 15%;
			input {
				width: 100%;
				padding: 0.4em 1em;
				margin-top: 22px;
			}
		}
	}
}
.login-loader.progress {
	border-radius: 0 !important;
}
