/* ==========================================================================
   Wordpress/Responsive Wordpress
========================================================================== */
/* -- Screen widths above 1440px -- */
@media all and (min-width: 90em) {
	.comments {
		.comments-form {
			.logged-status {
				display: none;
			}
			.logged-status-lower {
				display: block;
			}
		}
	}
}

/* -- Screen widths below 768px | Main responsive layout -- */
@media all and (max-width: 48em) {

	// Exclusions
	$exlusions: (
		'.nav-primary',
		'.nav-secondary',
		'.sidebar',
		'.newsletter label'
	);
	@each $element in $exlusions {
		#{$element} {
			display: none;
		}
	}

	// Full Width
	$fullwidth: (
		'.grid .col',
		'.login-container'
	);
	@each $element in $fullwidth {
		#{$element} {
			width: 100% !important;
		}
	}

	// Reset
	$reset: (
	);
	@each $element in $reset {
		#{$element} {
			margin: 0;
			padding: 0;
		}
	}

	/* -- Reset display -- */
	.no-js .nav-primary {
		display: block;
	}
	img.alignleft, img.alignright, img.aligncenter {
		max-width: 30%;
	}

	/* -- Forms -- */
	input, .input, select, textarea, .field-container, button, .button {
		height: auto;
	}

	/* -- Special Case Floats -- */
	.form .field.left, .login-container #loginform p, .alignleft, .avatar-image, .comment-meta {
		float: left !important;
	}
	.form .field.right, .alignright {
		float: right !important;
	}

	/* -- Header & Footer -- */
	.logo {
		text-align: center;
	}
	.header {
		padding-bottom: 1em;
		margin-bottom: 1em;
		border-bottom: 1px solid #EFEFEF;
	}
	.footer {
		padding: 1em 0 1em 0;
		text-align: center;
	}

	.entry-title {
    	padding-bottom: 0.45em;
		margin-bottom: 0.75em;
		border-bottom: 1px solid #EFEFEF;
	}

	/* -- Form validation & Email suggester -- */
	.val-box {
		min-width: 0;
		margin-bottom: 0.5em;
		left: -1em;
		padding: 0.5em 0;

		color: #f04349;
	}
	#suggestion {
		height: 30px;
	}

	/* -- Posts -- */
	.post-permalink {
		word-wrap: break-word;
	}

	/* -- Newsletter -- */
	.newsletter {
		#sub_email {
			width: 68%;
		}
		#sub_submit {
			width: 30%;
		}
	}

	/* -- Pagination -- */
	.pagination {
		margin-top: 2em;
		text-align: center;
	}

	/* -- Login Container -- */
	.login-container {
		height: auto;
		#loginform {
			p {
				width: 50%;
				padding: 0;
			}
			p:first-child {
				margin: 0;
			}
			.submit {
				width: 100%;
				float: none;
			}
			.submit input {
				margin-top: 0.8em;
			}
			.input {
				width: 99%;
			}
			#user_login {
				margin-right: 1%;
			}
			#user_pass {
				margin-left: 1%;
			}
		}
	}

	/* -- Mobile Navigation -- */
	.nav-primary-mobile { /* Style for the mobile menu */
		display: block;
	}

	/* -- Comment Form -- */
	#comment-form {
		.field-input {
			height: auto;
			position: relative;
		}
		.field-textarea {
			height: auto;
		}
		.field {
			input, textarea {
				position: static;
			}
			label {
				left: 0;
			}
		}

	}
	.comment-list .children {
		padding: 0;
	}
	.comment-list .children li:before {
		content: "";
	}

	/* -- Colophon -- */
	.colophon {
		margin: 1em 0;
	}
}

/* -- Screen widths below 480px -- */
@media all and (max-width: 30em) {
	.logo {
		width: 100%;
	}
}

/* -- Screen widths below 360px -- */
@media all and (max-width: 22.5em) {
	span[class^="icon-"]{
		display: none !important;
	}
}
