/* ==========================================================================
   Wordpress/Search
========================================================================== */
/* -- Search Results -- */
body.search {
	.page-header {
		margin-bottom: $nudge;
		.results-title {
			@extend %cf;
			.entry-title {
				margin-bottom: 0.1em;
				float: left;
			}
			#mod-results {
				float: right;
				text-align: right;
				select {
					width: auto;
				}
			}
		}
	}
}
.search-results {
	margin-bottom: $nudge;
}
.search-excerpt {
	color: $orange;
}
.post-permalink {
	margin: 0.3em 0;
	font-size: 80%;
	a {
		color: $def_green;
		&:hover {
			color: darken($def_green, 10%);
		}
	}
}

/* -- Auto-complete -- */
.ui-menu {
	width: 158px;
	padding: 1em;
	margin-top: -3px;
	border: 1px solid #ccc;
	border-top: 0;
	background: white;
	border-radius: 0 0 0.25em 0.25em;
	li {
		list-style: none;
	}
	li a {
		cursor: pointer;
	}
}
