// Defaults
$gutter           : 6%;
$fixedgutter      : 10px;
$form_field_height: 35px;
$def_border_radius: 3px;
$def_ul_indent    : 1.2em;
$def_box_shadow   : 0 0 5px rgba(69, 18, 11, 0.15);

// Nudge
$nudge            : 0.825em;

// Responsive
$responsive       : true;

// Paths
$path_siteimages  : "../globalimages/siteimages/"; // url(#{$path_siteimages}imagename.jpg)
$path_icons       : "../globalimages/icons/"; // url(#{$path_icons}imagename.jpg)
$path_other       : "../globalimages/other/"; // url(#{$path_other}imagename.jpg)
$path_fonts       : "/fonts/"; // url(#{$path_fonts}imagename.jpg)
